.App {
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: white;
  padding: 5px 10px;
  color: black;
  border-bottom: 1px solid #e3e3e3;
}

.App-title {
  font-size: 1.5em;
}

.App main {
  padding: 40px 40px 0px;
}

.App main span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
